<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="App">

    <div ng-controller="demoController">
        <input type="text" ng-model="msg">
        <h4>{{msg}}</h4>
        <button ng-click="show()">显示</button>
    </div>

</body>
</html>
<script src="./libs/angular.min.js"></script>
<script>
        var App = angular.module('App',[]);
        App.controller('demoController',['$scope',function ($scope) {
            $scope.show = function () {
                alert($scope.msg);
            }
        }]);
</script>